<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_ID" version="2.4">
	<!-- <javaee:display-name>touchbar</javaee:display-name> -->
	<display-name>touchbar</display-name>
	<welcome-file-list>
		<!-- welcome-file>app_client.jsp</welcome-file -->
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>touchbar</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- <javaee:param-name>contextConfigLocation</javaee:param-name> -->
			<!-- <javaee:param-value> -->
			<param-value>
				/WEB-INF/spring/app-config.xml
		</param-value>
			<!-- </javaee:param-value> -->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>touchbar</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	<!-- filter> <filter-name>openSessionInViewFilter</filter-name> <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class> 
		<init-param> <param-name>sessionFactoryBeanName</param-name> <param-value>sessionFactory</param-value> 
		</init-param> </filter -->
</web-app>